/* Estilos personalizados */
.jumbotron {
    background-color: #f8f9fa; /* Cambiar el color de fondo del Jumbotron */
    padding: 5rem 1rem; /* Ajustar el relleno */
  }
  
  .container h2 {
    margin-top: 2rem;
  }
  